@tailwind base;
@tailwind components;
@tailwind utilities;

/* Styles de base (clair) */
body {
   background-color: #ffffff;
   /* Exemple de couleur de fond clair */
   color: #000000;
   /* Exemple de couleur de texte clair */
}

/* Styles pour le mode sombre */
.dark body {
   background-color: #000000;
   /* Exemple de couleur de fond sombre */
   color: #ffffff;
   /* Exemple de couleur de texte sombre */
}